

body{
    background-color: #1c2237;
    font-weight:300;
    
}
.center {
    text-align: center;
}

.navbar{
    margin: auto;
    padding: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    display: inline-block;
    margin: auto;
    font-size: large;
}